
<!-- projects -->
<div>
<% Object.keys(projects).forEach(function(key) { %>

  <h3><%= key %></h3>

  <% if (projects[key].title !== "") { %>
    <p><%= projects[key].title %></p>
  <% } %>

<% }); %>
</div>
<!-- end projects -->

<!-- clients -->
<div>
<% Object.keys(clients).forEach(function(key) { %>

  <h3><%= key %></h3>

  <% if (clients[key].project_link !== "") { %>
    <p><%= clients[key].project_link %></p>
  <% } else { %>
    <p><%= clients[key].site %></p>
  <% } %>

<% }); %>
</div>
<!-- end clients -->